body{
  margin:0px;
  background-color: #e8e8e8;
}
header{
  width:1440px;
  height: 80px;
  background-color: #fff;
  margin:auto;
  border:2px dashed #000;
}
main{
  width:1440px;
  height: 3000px;
  background-color: #fff;
  margin:auto;
  border:2px dashed #000;

}
footer{
  width:1440px;
  height: 302px;
  background-color: #fff;
  margin:auto;
  border:2px dashed #000;
}